.biases {
  background-color: #42413c;
}

.biases__title {
  color: #ffffff;
}

.biases__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.biases__item {
  background-color: #f5f4f0;
}

.biases__link {
  text-decoration: none;
}

.biases__description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2a2626;
}
