.biases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  counter-reset: example 0;
}

.biases__link::before {
  content: "" counter(example) "";
  display: block;
  font-family: "Neucha";
  font-size: 64px;
  line-height: 70px;
  color: #42413c;
  counter-increment: example;
  width: 100%;
  margin-bottom: 40px;
}

.biases__link {
  display: block;
  text-decoration: none;
  padding: 24px;
  padding-bottom: 35px;
}

.biases__link:hover {
  background-color: #fe8a02;
}

.biases__link:hover > p,
.biases__link:hover > h3, .biases__link:hover::before {
  color: #ffffff;
}

.biases__description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2a2626;
}
