.colored {
  &--contrast {
    color: #fe8a02;
  }

  &--primary {
    color: #ffffff;
  }

  &--secondary {
    color: #2a2626;
  }

  &--dark {
    color: #212529;
  }

  &--additional {
    color: #908D8B;
  }

  &--additional-light {
    color: #D7CCC0;
  }

  &--basic {
    color: #b09a81;
  }

  &--black {
    color: #000000;
  }

  &--link {
    color: #007DC1;
  }
}
