* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  background-color: #ffffff;
  color: #2a2626;
  width: 1440px;
  margin: 0 auto;
}

header,
section, footer {
  padding: 100px 165px;
}
