.header__container {
  margin-bottom: 40px;
}

.header__text {
  margin: 0;
}

.header__img {
  position: relative;
  right: 196px;
}

.header__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  display: block;
  width: 148px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 11px 23px;
  margin-left: 570px;
}
