.header {
  background-color: #f5f4f0;
}

.header__img {
  position: relative;
  right: 196px;
}

.header__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  display: block;
  width: 148px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fe8a02;
  padding: 11px 23px;
}
